﻿h1 {
    text-align: center;
    color: white;
}

.formulario {
    width: 300px;
    height: 400px;
    margin: 0 auto;
    border: 2px solid #ff6600;
    border-radius: 10px;
}

table {
    width: 494px;
    height: 280px;
    margin: 10px auto;
}

td {
    text-align: center;
}

#RespostaEnvio {
    text-align: center;
    color: white;
}

label {
    display: inline-block;
    width: 100px;
    color: white;
}

input[type="text"] {
    width: 150px;
}

select {
    width: 50px;
}

input[type="submit"] {
    display: block;
    width: 100px;
    height: 30px;
    margin: 10px auto;
    background-color: #ff6600;
    color: white
}

.sucesso {
    color: blue;
}
